.contenido-noticias {
    margin: 5px;
}

.contenido__noticias_noticia-cuerpo {
    width:100%;

    img {
        width: 100%;
        height: 20em;
    }

    p{
        padding: 4px 10px;
    }  
}

.aside{
    width:100%;
    @media only screen and (max-width:550px){
        display:none;
        }
}

.listado {
    border-bottom: 1px solid gray;
}

.main-tags {
    margin-bottom: 0.9375rem;
    
    &__title{
        margin-bottom: 0.9375rem;
    }
    &__links li {
        color: white;
        padding:0.1875rem;
        display:inline;
        background-color: steelblue;
        list-style-type: none;
        margin-bottom:1.25rem;
        }
}

.aside__tags {
    border-bottom: 0.0625rem solid gray; 
}

.aside__noticias-destacadas-item {
    margin-bottom: 50px;
    width: 100%;

    img {
        width: 100%;
        height: 20em;
    }
}

